<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido al curso de {{ curso }}</h1>
    <h2>Este es la clase 18 de Django</h2>
    <h3><p style="color:red">Alumno {{ apellido }}, {{ nombre }}</p></h3>
    <h3>Aprendimos la arquitectura de MTV Model Template View</h3>
    <h4>Notas:</h4>
    {% for nota in notas  %}
        
        {% if nota > 7 %}
            <p style="color:green">Aprobado {{ nota }}</p>
        {% else %}    
            <p style="color:red">NO Aprobado {{ nota }}</p>
        {% endif %}
        
    {% endfor %}
</body>
</html>